.vs*
__pycache__/
.paired
.scan_destination
.user_and_host
.host_path
nohup.out
raspi/lsyncd.conf
raspi/lsyncd-to-host.conf
raspi/scanner.log
raspi/lsyncd.active.conf

# Kicad Temporary files
*.000
*.bak
*.bck
*.lck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# BOM files
*.xml
*.csv

# kicad 8 backups
*-backups
*-bak
fp-info-cache
*-bak*
_autosave*
\#auto_saved_files\#
*-save.pro
*-save.kicad_pcb
*.kicad_prl
scan-controller/build/arduino.avr.pro/scan-controller.ino.eep
scan-controller/build/arduino.avr.pro/scan-controller.ino.elf
scan-controller/build/arduino.avr.pro/scan-controller.ino.with_bootloader.bin
