annotated-types==0.6.0
argcomplete @ file:///private/tmp/python-argcomplete-20231211-42231-mc1bv2/argcomplete-3.2.1
certifi==2023.7.22
charset-normalizer==3.3.2
easyeda2kicad==0.6.6
ExifRead==2.3.2
future==0.18.3
idna==3.4
JLC2KiCadLib==1.0.25
KicadModTree==1.1.2
numpy @ file:///private/tmp/numpy-20240108-5731-uciys2/numpy-1.26.3
packaging @ file:///private/tmp/python-packaging-20231018-5368-zv724j/packaging-23.2
pidng==3.4.7
pillow @ file:///private/tmp/pillow-20240102-7253-fupykc/pillow-10.2.0
protobuf==4.25.1
psutil @ file:///private/tmp/python-psutil-20231217-4705-lrv2x1/psutil-5.9.7
pydantic==2.4.2
pydantic_core==2.10.1
pyparsing @ file:///private/tmp/python-pyparsing-20231211-60390-kqm07q/pyparsing-3.1.1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
typing_extensions==4.8.0
urllib3==2.0.7
watchdog==3.0.0
