[Unit]
Description=Filmkorn idle action (%I)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/sbin/filmkorn-idle.sh %I
TimeoutStartSec=30
StandardOutput=journal
StandardError=journal