<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>Install Filmkorn Scanner</string>
    <key>CFBundleDisplayName</key>
    <string>Install Filmkorn Scanner</string>
    <key>CFBundleIdentifier</key>
    <string>com.filmkorn.install-filmkorn-scanner</string>
    <key>CFBundleExecutable</key>
    <string>InstallRemoteScanning</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.13</string>
    <key>NSHighResolutionCapable</key>
    <true/>
  </dict>
</plist>
